@import "../base";

.problems-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.problem-row {
    display: flex;
    align-items: center;
    gap: 25px;

    .number-label {
        font-size: 2.5rem;
        font-weight: bold;
    }

    .writing-boxes {
        display: flex;
        gap: 12.5px;

        .writing-box {
            width: 60px;
            height: 60px;
            border: 1px solid #ccc;
            border-style: dashed;
            color: #e0e0e0; /* Very light grey */
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2.5rem;
        }
        .writing-box.example {
            color: forestgreen;
        }
    }

    .ten-frame {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr);
        border: 1px solid #333;
        margin-left: auto; /* Pushes the ten-frame to the right */
        height: 60px; /* Match the height of the writing-box */
        width: 150px; /* 5 boxes * 30px width */

        .ten-frame-box {
            border-right: 1px solid #333;
            border-bottom: 1px solid #333;
        }

        .ten-frame-box.filled {
            background-color: forestgreen;
        }

        /* Remove border from the last column and last row */
        .ten-frame-box:nth-child(5n) {
            border-right: none;
        }

        .ten-frame-box:nth-child(n+6) {
            border-bottom: none;
        }
    }
}
