@import "../base";

.page.answer-key {
    page-break-before: always;
}

.problem {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .objects-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 10px;
        margin-bottom: 10px;
        order: 1; /* This will move the objects to the left */

        img {
            width: 50px;
            height: 50px;
        }
    }

    .answer-box {
        width: 3em; /* Accommodate 2 digits with some padding */
        min-width: 3em; /* Ensure the box doesn't shrink */
        height: 2.5em;
        border: 2px solid black;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        color: forestgreen;
        order: 2; /* This will move the answer box to the right */
        margin-left: 20px; /* Add some space between the objects and the answer box */
    }
}

.problems-grid {
    display: grid;
    grid-template-columns: 1fr; /* Each problem will take the full width */
    gap: 40px 20px;
}
