@import "../base";

.page.answer-key {
    page-break-before: always;
}

.problem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    .measurement-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-grow: 1;
    }

    .measure-band {
        height: 50px;
        overflow: visible; /* To show text outside viewBox */
    }

    .measured-rectangle {
        height: 20px;
        margin-bottom: 5px;
        overflow: visible;
    }

    .answer-box {
        width: 3em; /* Accommodate answer in mm */
        min-width: 3em;
        height: 2.5em;
        border: 2px solid black;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        color: forestgreen;
        margin-left: 20px;
    }
}

.problems-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px 20px;
}
