/* Page break for printing */
@import "../base";

.page.answer-key {
    page-break-before: always;
}

/* Problems Grid */
.problems-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px 40px;
}

/* Comparison Problem Style */
.problem {
    font-size: 1.4rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;

    .number {
        font-family: 'Roboto Mono', monospace;
        letter-spacing: 2px;
        padding: 0 10px;
    }

    .answer-box {
        width: 40px;
        height: 40px;
        border: 1px solid #ccc;
        display: inline-block;
        text-align: center;
        line-height: 40px;
        color: forestgreen;
        font-family: 'Roboto Mono', monospace;
    }
}
